POSTGRES_DB=myfi
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
API_PORT=8080
CONNECTIONSTRINGS__MYFIDATABASE=Host=localhost;Port=5432;Database=myfi;Username=postgres;Password=postgres
JWT__ISSUER=MyFi
JWT__AUDIENCE=MyFi.Client
JWT__SIGNINGKEY=development-signing-key-with-32-characters-minimum
JWT__ACCESSTOKENMINUTES=60
